.venv
__pycache__
/checkpoints/prediction/trained.pth
/checkpoints/segment/model.*
/checkpoints/segmentation-checkpoint.zip
/dataset
/dist
/metadata/samples.csv
/images/original/*.jpg
/images/resized/*.png
/images/masks/*.png
/images/masked/*.png
/vendor/PaddleSeg
